@import "components/variables";
@import "components/mixins";
@import "components/nesting";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: $fuente2;
}

.tituloBody {
  font-family: $fuente1;
  font-size: 30px;
  margin: 25px;
  text-align: center;
  color: $color1;
}

.contenedorNosotros--grilla {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.contenedorNosotros {
  grid-column: 2/6;
  grid-row: 1/2;
  width: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contenedorNosotros_cajaNosotros--titulo {
  text-align: left;
  width: $number2;
  font-size: 20px;
  margin-bottom: 30px;
}

.subtituloBody--color {
  color: $color4;
}

.cajaMain1 {
  grid-column: 2/6;
  grid-row: 1/2;
}

.cajaMain2 {
  grid-column: 2/6;
  grid-row: 2/3;
}
.cajaMain3 {
  grid-column: 2/6;
  grid-row: 3/4;
}

.contenedorMain_titulo {
  grid-column: 2/4;
  grid-row: 2/3;
  margin-right: 30px;
  font-size: 30px;
}

.formulario {
  grid-column: 4/7;
  grid-row: 1/4;
  margin-top: 60px;
  margin-bottom: 30px;
  width: $number2;
}

.tabla {
  grid-column: 2/6;
  grid-row: 1/4;
  margin-top: 60px;
  margin-bottom: 30px;
}

#claseTarjeta {
  width: auto;
  margin: 50px;
  box-shadow: $list2;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.labelFormulario {
  display: inline-block;
  margin-right: 25px;
  color: $color7;
}

.cajaInput {
  margin: 10px;
  height: 60px;
  display: flex;
  align-items: center;
}

#checkbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.inputRadio {
  margin-right: 10px;
  margin-left: 10px;
}

#botones {
  height: 100px;
  display: flex;
  align-items: center;
}

.botonResetear {
  font-weight: 600;
  background-color: transparent;
  padding: 15px;
  margin: 20px;
  border: none;
  color: $color5;
  width: 120px;
  height: 60px;
  cursor: pointer;
  font-family: $fuente1;
}

.filas {
  width: 300px;
  height: 200px;
}

.filas th {
  font-family: $fuente1;
  font-size: 30px;
  text-shadow: $list4;
  background-color: $color4;
}

.celdas {
  padding: 30px;
  background-color: $color2;
}

.contendorMain_direccion {
  border-left: $list5;
  padding-left: 15px;
}

.contendorMain_parrafo {
  padding-left: 20px;
  font-size: 15px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 150px 150px;

  background-color: $color6;
  text-align: center;
  font-size: 20px;
  margin-top: 30px;
}

.footer_copyright {
  grid-column: 2/3;
  grid-row: 2/3;
  color: $color2;
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  .contenedorNav {
    background-color: $color1;
    display: flex;
    flex-direction: column;
  }
  .imgBody {
    height: 150px;
    width: 150px;
    margin: 14px;
  }
  .input:focus {
    width: 250px;
    font-size: 18px;
  }

  .contenedorTabla_grillaQuery {
    display: grid;
    @include grilla2;
  }

  .contenedorNosotros {
    display: grid;
    @include grilla2;
    display: flex;
    flex-direction: column;
  }

  .tabla {
    grid-column: 1/4;
    grid-row: 1/4;
  }
}

@media only screen and (min-width: 360px) and (max-width: 599px) {
  body {
    font-size: 14px;
  }
  .contenedorNav {
    background-color: $color1;
    display: flex;
    flex-direction: column;
  }
  .imgBody {
    height: 150px;
    width: 150px;
    margin: 14px;
  }
  .input:focus {
    width: 250px;
    font-size: 18px;
  }

  .contenedorMain {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding-left: 0px;
  }
  .contenedorTabla {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding-left: 0px;
  }
  .contenedorMain_titulo {
    grid-column: 2/4;
    grid-row: 1/2;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding-top: 40px;
  }

  .contenedorNosotros {
    display: grid;
    @include grilla2;
    display: flex;
    flex-direction: column;
  }

  .cajaMain1 {
    grid-column: 2/4;
    grid-row: 1/2;
  }
  .cajaMain2 {
    grid-column: 2/4;
    grid-row: 2/3;
  }
  .cajaMain3 {
    grid-column: 2/4;
    grid-row: 3/4;
  }

  .cajaMain1_imgBody {
    height: 150px;
    width: 150px;
    margin: 14px;
  }
  .cajaMain2_imgBody {
    height: 150px;
    width: 150px;
    margin: 14px;
  }
  .cajaMain3_imgBody {
    height: 150px;
    width: 150px;
    margin: 14px;
  }
  .formulario {
    grid-column: 1/5;
    grid-row: 2/4;
    margin-bottom: 30px;
    width: $number2;
  }

  .input {
    width: 150px;
    transition: all $number3;
  }

  .input:focus {
    width: 200px;
    font-size: 20px;
  }

  .tabla {
    grid-column: 1/4;
    grid-row: 1/4;
  }

  .filas th {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    text-shadow: $list4;
    background-color: $color4;
  }
  .celdas {
    padding: 5px;
    background-color: $color2;
  }

  .celdas ul li {
    list-style: none;
  }
  .celdas ol li {
    list-style: none;
  }

  .filas {
    font-size: 10px;
  }
}
