$color1: #012340;
$color2: #c1e3f7;
$color3: #007fff;
$color4: #086ad8;
$color5: #07db8a;
$color6: #0c0c0c;
$color7: #666666;

$list1: -4px 4px 4px #0000008a;
$list2: 0 0 6px 1px #00000045;
$list3: -1px 0px 6px 1px #88888896;
$list4: 0px 3px 4px #0000008a;
$list5: 5px solid #07db8a;

$number1: 300ms;
$number2: 100%;
$number3: 1s;

$fuente1: "Roboto", sans-serif;
$fuente2: "Noto Sans JP", sans-serif;
